$body-bg-color: #ffffff;
$primary-bg-color: #ffffff;
$font-stack: 'Open Sans', Verdana, sans-serif;
$primary-text-color: #444444;
$primary-font-size: 15px;
$primary-line-height: 30px;
$header-color: #000010;
$header-font-family: 'Open Sans Bold', Verdana, sans-serif;
$mint-color: #63d1bb;
$white-text-color: #ffffff;
