html {
  height: 100%;
}

body {
  position: relative;

  width: 320px;
  height: 100%;

  font-family: $font-stack;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $primary-text-color;

  background-color: $body-bg-color;
}

.first-header {
  font-family: $header-font-family;
  font-size: 27px;
  color: $header-color;
  text-align: center;
}

.second-header {
  font-family: $header-font-family;
  font-size: 25px;
  color: $header-color;
  text-align: center;
}

.btn {
  display: block;

  color: $primary-text-color;
  text-align: center;
  text-decoration: none;
}

.text-btn {
  text-transform: uppercase;
}
