.about-block {

  @media #{$desktop-widths} {
    padding-top: 58px;
  }

  .container {
    @media #{$tablet-widths} {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .second-header {
    margin-bottom: 30px;

    @media #{$tablet-widths} {
      width: 51%;
      order: 1;
    }
  }
}

.about-block__text {
  position: relative;

  width: 83%;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 75px;

  font-size: $secondary-font-size;
  font-weight: 700;
  line-height: $secondary-line-height;
  color: #000000;

  @media #{$tablet-widths} {
    width: 50%;
    padding-right: 20%;
    box-sizing: border-box;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 45px;

    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
  }

  &--flower-logo{
    @media #{$tablet-widths} {
      order: 2;
      padding-right: 24%;
    }

    &::before {
      background-image: url("../img/icon-feature-1.svg");
    }
  }

  &--money-logo {
    @media #{$tablet-widths} {
      order: 4;
    }

    &::before {
      background-image: url("../img/icon-feature-3.svg");
    }
  }

  &--heart-logo {
    @media #{$tablet-widths} {
      order: 6;
      padding-right: 24%;
    }

    &::before {
      background-image: url("../img/icon-feature-5.svg");
    }
  }

  &--clew-logo {
    @media #{$tablet-widths} {
      order: 3;
    }

    &::before {
      background-image: url("../img/icon-feature-2.svg");
    }
  }

  &--rocket-logo {
    width: 100%;

    @media #{$tablet-widths} {
      width: 50%;
      order: 5;
      padding-right: 14.97%;
    }

    &::before {
      left: -10px;

      background-image: url("../img/icon-feature-4.svg");
    }
  }

  &--gift-logo {
    @media #{$tablet-widths} {
      order: 7;
    }

    &::before {
      background-image: url("../img/icon-feature-6.svg");
    }
  }
}
