.contacts-block {
  padding-top: 19px;
  padding-bottom: 39px;

  @media #{$tablet-widths} {
    padding-top: 61px;
    padding-bottom: 57px;
  }

  @media #{$desktop-widths} {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 105px;
  }

  .container {
    @media #{$tablet-widths} {
      display: flex;
      flex-wrap: wrap;
    }

    @media #{$desktop-widths} {
      width: 50%;
      padding-right: 0;
      padding-left: 22%;
    }

    &:last-of-type {
      @media #{$desktop-widths} {
        margin-top: -52px;
      }
    }
  }

  .third-header {
    margin-bottom: 2px;

    @media #{$tablet-widths} {
      position: relative;
      margin-bottom: 10px;
      margin-left: -4px;

      display: block;
      width: 100%;
      margin-top: 0;

      &::after {
        content: "";
        position: absolute;
        top: -16px;
        right: -5px;

        width: 56px;
        height: 83px;

        background-color: #ffffff;
        background-image: url("../img/icon-flag.svg");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
      }
    }

    @media #{$desktop-widths} {
      margin-top: 81px;
      margin-bottom: -55px;
      margin-left: -5px;

      &::after {
        top: -9px;
        left: -112px;
      }
    }
  }
}

.contacts-block__table {
  margin-bottom: 31px;

  @media #{$tablet-widths} {
    display: flex;
    width: 100%;

    font-size: $secondary-font-size;
    line-height: $primary-line-height;
  }

  @media #{$desktop-widths} {
    z-index: 5;
    display: table;
  }
}

.contacts-block__row {
  @media #{$tablet-widths} {
    width: 50%;
  }

  &:first-of-type {
    @media #{$desktop-widths} {
      margin-bottom: 10px;
    }
  }
}

.contacts-block__cell {
  border: none;

  &:nth-of-type(2n) {
    padding-left: 30px;

    @media #{$tablet-widths} {
      padding-left: 28px;
    }
  }

  &:last-of-type {
    padding-top: 24px;
  }
}

.contacts-block__btn {
  @media #{$tablet-widths} {
    width: 34.43%;
    margin-right: auto;
    margin-left: auto;
  }

  @media #{$desktop-widths} {
    width: 65.75%;
    margin-right: auto;
    margin-left: 0;
  }
}
