.desc-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 90px;
  padding-right: 9.4%;
  padding-left: 9.4%;

  background-color: $primary-bg-color;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: Ñover;
}

.desc-block > .first-header {
  margin-top: 0;
  margin-bottom: 120px;
}

