.footer-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 23px;
  padding-right: 10%;
  padding-bottom: 25px;
  padding-left: 10%;
  box-sizing: border-box;

  border-bottom: 1px solid #e5e5e5;

  @media #{$tablet-widths} {
    width: 27%;
    margin-bottom: 0;
    margin-left: 11%;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    border: 0;
  }

  @media #{$desktop-widths} {
    width: 17%;
    margin-left: 7%;
  }
}

.footer-social__social-btn {
  display: block;
  width: 30px;
  height: 30px;

  background-color: #f1f1f1;

  &:hover {
    .footer-social__svg {
      fill: $mint-color;
    }
  }

  &:active {
    .footer-social__svg {
      fill: $mint-color;
      opacity: 0.3;
    }
  }
}
