.form {
  padding-bottom: 55px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-left: -1%;
  margin-right: -1%;
  padding-top: 24px;
  padding-right: 10.375%;
  padding-bottom: 0;
  padding-left: 10.375%;
  box-sizing: border-box;

  border: none;
  

  &--type {
    padding-bottom: 4px;
  }

  &--fio {
    padding-top: 9px;
  }

  &--tel {
    padding-top: 12px;

    .form__header-substrate {
      margin-bottom: 24px;
    }
  }

  &--email {
    padding-top: 13px;

    .form__header-substrate {
      margin-bottom: 24px;
    }

    .form__content-header {
      width: 31%;
    }
  }

  &--extra {
    padding-top: 12px;
  }

  &--color,
  &--tel,
  &--email{
    @media #{$tablet-widths} {
      background-color: #f1f1f1;
    }
  }
}

.form__header-substrate {
  position: relative;
  z-index: 1;

  width: 100%;
  margin-bottom: 33px;
  padding-top: 8px;

  border-bottom: 1px solid $mint-color;
}

.form__content-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 24%;
  margin-top: 0;
  margin-bottom: 0;

  font-size: $secondary-font-size;
  line-height: 16px;
  color: $mint-color;
  text-transform: uppercase;

  background-color: $primary-bg-color;
}

.form__content-container {

}

.form__radio,
.form__checkbox {
  display: none;
}

.form__label {
  position: relative;

  display: block;
  margin-bottom: 10px;
  padding-top: 3px;

  font-size: $secondary-font-size;
  font-weight: 700;
  line-height: 18px;

  &--radio {
    margin-bottom: 16px;
    padding-top: 8px;
    padding-left: 24.2%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 35px;
      height: 34px;

      border: 2px solid #000000;
      border-radius: 50%;
    }
  }

  &--checkbox {
    margin-bottom: 33px;
    padding-top: 10px;
    padding-left: 24.2%;

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;

      width: 36px;
      height: 35px;

      border: 2px solid #000000;
    }
  }
}

.form__text,
.form__tel,
.form__email {
  width: 100%;
  margin-bottom: 19px;
  padding-bottom: 16px;
  box-sizing: border-box;

  font-size: $secondary-font-size;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid #000000;
}

.form__textarea {
  width: 100%;
  padding: 12px 17px 0;
  box-sizing: border-box;

  font-size: $secondary-font-size;
  line-height: 18px;

  border: 2px solid #000000;
}

.form__footer-container {
  padding-right: $primary-padding;
  padding-left: $primary-padding;
  box-sizing: border-box;
}

.form__explain-text {
  margin-top: 7px;
  margin-bottom: 31px;

  font-size: 14px;
  line-height: 16px;
}

.form__btn {
  background-color: $primary-bg-color;
}
