.form-main {
  padding-top: 22px;

  @media #{$tablet-widths} {
    margin-top: -7px;
    padding-top: 0;
  }
}

.form-main__text {
  margin-top: 0;
  padding-right: $primary-padding;
  margin-bottom: 0;
  padding-left: $primary-padding;

  font-size: 13px;
  line-height: $tertiary-line-height;

  @media #{$tablet-widths} {
    margin-bottom: 50px;
    padding-right: 7.75%;
    padding-left: 6.75%;

    font-size: $secondary-font-size;
    line-height: $primary-line-height;
  }
}
