.form {
  padding-bottom: 55px;

  @media #{$tablet-widths} {
    padding-bottom: 50px;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: 0;
  padding-top: 24px;
  padding-right: $primary-padding;
  padding-bottom: 0;
  padding-left: $primary-padding;
  box-sizing: border-box;

  border: none;

  @media #{$tablet-widths} {
    flex-direction: row;
    padding-top: 24px;
    padding-right: 7%;
    padding-bottom: 0;
    padding-left: 6.75%;
  }

  @media #{$desktop-widths} {
    padding-left: 13.1%;
  }

  &--type {
    padding-bottom: 4px;

    @media #{$tablet-widths} {
      padding-bottom: 26px;
    }
  }

  &--color {
    @media #{$tablet-widths} {
      padding-top: 67px;
      padding-bottom: 26px;
    }

    .form__content-container {
      @media #{$tablet-widths} {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &--fio {
    padding-top: 9px;

    @media #{$tablet-widths} {
      padding-top: 67px;
      padding-bottom: 14px;
    }

    .form__content-container {
      @media #{$tablet-widths} {
        margin-top: -13px;
        padding-right: 5.2%;
        box-sizing: border-box;
      }

      @media #{$desktop-widths} {
        margin-left: 11.4%;
        padding-right: 11%;
      }
    }

    .form__label {
      @media #{$tablet-widths} {
        margin-right: 6%;
      }

      @media #{$desktop-widths} {
        margin-right: 4%;
      }
    }
  }

  &--img {
    position: relative;
  }

  &--tel {
    padding-top: 12px;

    @media #{$tablet-widths} {
      padding-top: 53px;
    }

    .form__header-substrate {
      margin-bottom: 24px;

      @media #{$tablet-widths} {
        margin-top: 14px;
        margin-bottom: 10px;
      }
    }
  }

  &--email {
    padding-top: 13px;

    @media #{$tablet-widths} {
      padding-top: 8px;
      padding-bottom: 31px;
    }

    .form__header-substrate {
      margin-bottom: 24px;

      @media #{$tablet-widths} {
        margin-top: 14px;
        margin-bottom: 10px;
      }
    }

    .form__content-header {
      width: 31%;
    }
  }

  &--extra {
    padding-top: 12px;

    @media #{$tablet-widths} {
      padding-top: 67px;
      padding-bottom: 44px;
    }

    @media #{$desktop-widths} {
      padding-bottom: 40px;
    }
  }

  &--color,
  &--tel,
  &--email{
    @media #{$tablet-widths} {
      background-color: #f1f1f1;
    }

    .form__content-header {
      @media #{$tablet-widths} {
        background-color: #f1f1f1;
      }
    }
  }
}

.form__header-substrate {
  position: relative;
  z-index: 1;

  width: 100%;
  margin-bottom: 33px;
  padding-top: 8px;

  border-bottom: 1px solid $mint-color;

  @media #{$tablet-widths} {
    width: 30%;
    margin-bottom: 0;

    border: none;
  }
}

.form__content-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 24%;
  margin-top: 0;
  margin-bottom: 0;

  font-size: $secondary-font-size;
  line-height: 16px;
  color: $mint-color;
  text-transform: uppercase;

  background-color: $primary-bg-color;
}

.form__content-container {
  @media #{$tablet-widths} {
    width: 81%;
    margin-top: -25px;
    margin-left: 24.9%;
  }

  @media #{$desktop-widths} {
    width: 81%;
    margin-top: -25px;
    margin-left: 11.1%;
  }
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;

  width: 16px;
  height: 16px;

  background-color: $mint-color;
  border-radius: 50%;

  @media #{$tablet-widths} {
    top: 16px;
    left: 16px;

    width: 20px;
    height: 20px;
  }
}

.form__checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;

  width: 22px;
  height: 24px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;

  @media #{$tablet-widths} {
    top: 11px;
    left: 11px;

    width: 32px;
    height: 32px;
  }
}

.form__label {
  position: relative;

  display: block;
  margin-bottom: 10px;
  padding-top: 3px;

  font-size: $secondary-font-size;
  font-weight: 700;
  line-height: 18px;

  @media #{$tablet-widths} {
    font-size: 19px;
  }

  &--radio {
    margin-bottom: 16px;
    padding-top: 8px;
    padding-left: 24.2%;

    @media #{$tablet-widths} {
      margin-bottom: 43px;
      padding-top: 15px;
      padding-left: 15%;
    }

    @media #{$tablet-widths} {
      margin-bottom: 43px;
      padding-top: 15px;
      padding-left: 10%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 35px;
      height: 34px;

      border: 2px solid #000000;
      border-radius: 50%;

      @media #{$tablet-widths} {
        width: 48px;
        height: 48px;
      }
    }
  }

  &--checkbox {
    margin-bottom: 33px;
    padding-top: 10px;
    padding-left: 24.2%;

    @media #{$tablet-widths} {
      width: 34%;
      margin-bottom: 43px;
      padding-top: 15px;
      padding-left: 15%;
    }

    @media #{$tablet-widths} {
      width: 22.5%;
      padding-left: 10%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;

      width: 36px;
      height: 35px;

      border: 2px solid #000000;

      @media #{$tablet-widths} {
        top: 0;

        width: 50px;
        height: 48px;
      }
    }
  }
}

.form__row-container {
  @media #{$tablet-widths} {
    display: flex;
    justify-content: space-between;
  }
}

.form__text,
.form__tel,
.form__email {
  width: 100%;
  margin-bottom: 19px;
  padding-bottom: 16px;
  box-sizing: border-box;

  font-size: $secondary-font-size;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid #000000;
}

.form__text {
  @media #{$tablet-widths} {
    margin-bottom: 36px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 19px;
  }
}

.form__tel,
.form__email {
  @media #{$tablet-widths} {
    width: 93.7%;
    padding-bottom: 15px;
    padding-left: 15px;

    font-size: 19px;

    background-color: #f1f1f1;
  }

  @media #{$desktop-widths} {
    width: 86.7%;
  }
}

.form__input-img {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  opacity: 0.3;

  &--tel {
    top: 48px;
    right: 34px;

    width: 27px;
    height: 27px;

    background-image: url("../img/icon-phone.svg");

    @media #{$tablet-widths} {
      top: 60px;
      right: 75px;
    }

    @media #{$tablet-widths} {
      top: 60px;
      right: 22.6%;
    }
  }

  &--email {
    top: 52px;
    right: 34px;

    width: 34px;
    height: 23px;

    background-image: url("../img/icon-mail.svg");

    @media #{$tablet-widths} {
      width: 40px;
      height: 32px;

      top: 16px;
      right: 68px;
    }

    @media #{$tablet-widths} {
      right: 22%;
    }
  }
}

.form__textarea {
  width: 100%;
  padding: 12px 17px 0;
  box-sizing: border-box;

  font-size: $secondary-font-size;
  line-height: 18px;

  border: 2px solid #000000;

  @media #{$tablet-widths} {
    width: 93.4%;

    font-size: 19px;
  }

  @media #{$desktop-widths} {
    width: 86.6%;
  }
}

.form__footer-container {
  padding-right: $primary-padding;
  padding-left: $primary-padding;
  box-sizing: border-box;

  @media #{$tablet-widths} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4%;
    padding-left: 6.5%;
  }

  @media #{$desktop-widths} {
    width: 56%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__explain-text {
  margin-top: 7px;
  margin-bottom: 31px;

  font-size: 14px;
  line-height: 16px;

  @media #{$tablet-widths} {
    order: 2;
    width: 46.6%;
    margin-top: -4px;
    margin-bottom: 0;

    font-size: $secondary-font-size;
    line-height: $primary-line-height;
  }

  @media #{$desktop-widths} {
    width: auto;
  }
}

.form__btn {
  background-color: $primary-bg-color;

  @media #{$tablet-widths} {
    order: 1;
    width: 33.5%;
  }

  @media #{$desktop-widths} {
    width: 33%;
  }
}
