.form-main {
  margin-bottom: 55px;
  padding-right: $primary-padding;
  padding-left: $primary-padding;
  box-sizing: border-box;

  @media #{$tablet-widths} {
    padding-right: 6.51%;
    padding-left: 6.51%;
  }
}

.form-main__text {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 13px;
  line-height: $tertiary-line-height;

  @media #{$tablet-widths} {
    margin-top: -7px;

    font-size: $secondary-font-size;
    line-height: $primary-line-height;
  }
}
