.image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;

  @media #{$tablet-widths} {
    width: 56.4%;
    padding-right: 12.81%;
    box-sizing: border-box;
  }

  @media #{$desktop-widths} {
    order: 4;
    width: 100%;
    padding-right: 67.5%;
    margin-bottom: 8px;
  }
}

.image-block__img {
  &:first-of-type {
    @media #{mobile-widths} {
      display: block;
      margin-bottom: 30px;
    }

    @media #{$tablet-widths} {
      display: none;
    }

    @media #{$desktop-widths} {
      display: none;
    }
  }

  &:last-of-type {
    @media #{$mobile-widths} {
      display: none;
    }

    @media #{$tablet-widths} {
      position: absolute;
      top: 27%;
      right: 0;

      width: 50%;
      padding-right: 6.51%;
      box-sizing: border-box;
    }

    @media #{$desktop-widths} {
      display: none;
    }
  }
}

.image-block__img-text {
  margin-bottom: 25px;

  font-size: $secondary-line-height;
  line-height: $tertiary-line-height;
}
