.image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;

  @media #{$tablet-widths} {
    width: 56.4%;
    padding-right: 12.81%;
    box-sizing: border-box;
  }

  @media #{$desktop-widths} {
    order: 4;
    width: 100%;
    padding-right: 67.5%;
  }
}

.image-block__img,
.image-block__source {
  margin-bottom: 23px;
}

.image-block__img {
  display: none;
  margin-bottom: 30px;
}

.image-block__source {
  position: static;
  top: 24.6%;
  right: 0;

  width: 50%;
  padding-right: 6.6%;
  box-sizing: border-box;
}


.image-block__img-text {
  margin-bottom: 26px;

  font-size: $secondary-font-size;
  line-height: $tertiary-line-height;

  @media #{$tablet-widths} {
    margin-bottom: 34px;

    font-size: 20px;
    line-height: $tertiary-line-height;
  }
}
