.main-header {
  position: relative;
}

.main-header__burger-menu {
  position: absolute;
  top: 32px;
  right: 30px;

  width: 22px;
  height: 22px;

  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  border: none;

  &--open {
    @media #{$mobile-widths} {
      background-image: url("../img/icon-menu-open.svg");
    }

    @media #{$tablet-widths} {
      background-color: transparent;
      background-image: none;
    }
  }

  &--close {
    @media #{$mobile-widths} {
      background-image: url("../img/icon-menu-close.svg");
    }

    @media #{$tablet-widths} {
      background-color: transparent;
      background-image: none;
    }
  }
}

.main-header__nav {
  @media #{$tablet-widths} {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .container {
    @media #{$tablet-widths} {
      padding: 0;
    }
  }
}

.main-header__logo {
  display: block;
}

.main-header__logo-img {
  vertical-align: middle;

  @media #{$mobile-widths} {
    &:first-of-type {
      display: inline-block;
    }
    &:nth-of-type(2) {
      display: none;
    }
    &:last-of-type {
      display: none;
    }
  }

  @media #{$tablet-widths} {
    &:first-of-type {
      display: none;
    }
    &:nth-of-type(2) {
      display: inline-block;
    }
    &:last-of-type {
      display: none;
    }
  }

  @media #{$desktop-widths} {
    &:first-of-type {
      display: none;
    }
    &:nth-of-type(2) {
      display: none;
    }
    &:last-of-type {
      display: inline-block;
    }
  }
}

.main-header__nav-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  &:first-of-type {
    @media #{$tablet-widths} {
      width: 50%;
      padding-left: 6.51%;
      box-sizing: border-box;
      order: 2;

      .slim-block {
        background-color: transparent;
        border: none;
      }

      .main-header__nav-item {
        width: 50%;
      }

      .main-header__nav-link {
        font-size: $primary-font-size;
      }
    }
  }

  &:last-of-type {
    @media #{$tablet-widths} {
      width: 51.7%;
      padding-right: 6.51%;
      box-sizing: border-box;

      background-color: $primary-bg-color;
      border-bottom: 1px solid #ececec;

      .main-header__nav-item {
        &:first-of-type {
          width: 23.6%;
        }
        &:last-of-type {
          width: 100%;
        }
      }
    }
  }

  @media #{$mobile-widths} {
    width: 100%;
  }

  @media #{$tablet-widths} {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.main-header__nav-link {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $primary-text-color;
  text-decoration: none;

  &--search-logo {
    position: relative;

    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: 36%;
      left: 10%;
      width: 21px;
      height: 21px;

      background-color: $primary-bg-color;
      background-image: url("../img/icon-search.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50%;
      opacity: 0.3;

      @media #{$tablet-widths} {
        top: 39%;
        left: 39%;
      }
    }

    @media #{$tablet-widths} {
      padding-left: 0;
      padding-top: 32px;
      padding-bottom: 31px;

      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;

      border-left: 1px solid #ececec;
    }
  }

  &--cart-logo {
    position: relative;

    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: 36%;
      left: 10%;

      width: 21px;
      height: 21px;

      background-color: $primary-bg-color;
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50%;
      opacity: 0.3;

      @media #{$tablet-widths} {
        left: 13%;
      }
    }

    @media #{$tablet-widths} {
      padding-left: 26.58%;
      padding-top: 32px;
      padding-bottom: 31px;

      border-left: 1px solid #ececec;
    }
  }
}

.main-header__corner-text {
  box-sizing: border-box;

  @media #{$mobile-widths} {
    display: none;
  }

  @media #{$tablet-widths} {
    display: block;
    width: 50%;
    padding-right: 6.51%;
    order: 3;

    line-height: $tertiary-line-height;
    text-align: right;
  }
}

.main-header__title-block {
  margin-bottom: 30px;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-right: 30px;
  padding-left: 40px;

  background-color: #f1f1f1;
}

.main-header__title-block {
  .first-header {
    margin-bottom: 0;
  }
}
