.map-block {
  content: "";
  position: relative;

  width: 120%;
  height: 457px;
  margin-right: -9.4%;
  margin-bottom: 40px;
  margin-left: -9.4%;

  background-color: $primary-bg-color;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 170px;
    left: 105px;

    width: 80px;
    height: 100px;

    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
  }
}
