.product-types {
  display: block;
  width: 100%;

  text-decoration: none;

  &--mint {
    background-color: $mint-color;
  }

  &--green {
    background-color: #56c3b2;
  }

  @media #{$tablet-widths} {
    width: 50%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 9%;
    padding-right: 11.4%;

    @media #{$tablet-widths} {
      padding-right: 12%;
      padding-left: 10.7%;
    }

    @media #{$desktop-widths} {
      padding-right: 7%;
      padding-left: 7%;
    }
  }

  &:hover {
    margin-top: -5px;
    padding-bottom: 5px;
    box-sizing: border-box;

    .product-types__img {
      opacity: 0.7;
    }
  }

  &:active {
    .container {
      opacity: 0.3;
    }
  }
}

.product-types__text {
  width: 50%;
  margin-top: 26px;
  margin-bottom: 30px;

  font-size: 19px;
  font-weight: 700;
  line-height: $tertiary-line-height;
  color: $white-text-color;

  @media #{$tablet-widths} {

    font-size: 20px;
    line-height: $primary-line-height;
  }
}

.product-types__img {
  opacity: 0.5;

  &--cube {
    margin-right: -10px;
  }
}
