.product-article {
  position: relative;
  padding-bottom: 41px;

  @media #{$desktop-widths} {
    padding-top: 126px;

    background-image: url("../img/triple-set-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 42% 80%;
    background-position: 86% 43%;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/triple-set-desktop@2x.jpg");
    }
  }

  .container {
    @media #{$tablet-widths} {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }

    @media #{$desktop-widths} {
      padding-left: 22%;
      box-sizing: border-box;
    }
  }

  .second-header {
    margin-bottom: 5px;

    @media #{$tablet-widths} {
      width: 85%;
      margin-bottom: 55px;
    }

    @media #{$desktop-widths} {
      order: 2;
      margin-left: 4.5%;
      margin-bottom: 49px;
    }
  }

  .table-block {
    @media #{$tablet-widths} {
      width: 50.1%;
      margin-bottom: 55px;
      padding-right: 6.51%;
      box-sizing: border-box;
    }

    @media #{$desktop-widths} {
      order: 4;
      margin-bottom: 110px;
      padding-right: 16.6%;
    }
  }
}

.product-article__promo-text {
  display: block;
  margin-bottom: 23px;

  font-size: $secondary-font-size;
  font-weight: 700;
  line-height: $secondary-line-height;
  color: $mint-color;
  text-transform: uppercase;

  @media #{$tablet-widths} {
    width: 15%;
    margin-bottom: 45px;

    line-height: 17px;
    text-align: center;
  }

  @media #{$desktop-widths} {
    order: 1;
    width: 10%;
    margin-left: -15%;

    line-height: 17px;
    text-align: center;
  }
}

.product-article__text {
  margin-bottom: 19px;
  box-sizing: border-box;

  line-height: $tertiary-line-height;

  @media #{$tablet-widths} {
    width: 50.1%;
    margin-top: 0;
    margin-bottom: 45px;
    padding-right: 6.51%;
  }

  @media #{$desktop-widths} {
    order: 3;
    margin-bottom: 49px;
    padding-right: 16%;

    font-size: $secondary-font-size;
    line-height: $primary-line-height;
  }
}

.product-article__btn {
  @media #{$tablet-widths} {
    width: 43.7%;
    margin-bottom: 50px;
  }

  @media #{$desktop-widths} {
    order: 5;
    width: 33.4%;
    margin-bottom: 95px;
  }
}
