.slim-block {
  display: flex;
  box-sizing: border-box;

  @media #{$mobile-widths} {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 21px;

    text-align: center;

    background-color: $primary-bg-color;
    border-bottom: 1px solid #ececec;

    &--menu {
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }

  @media #{$tablet-widths} {
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding-top: 19px;
    padding-bottom: 18px;


    text-align: left;
  }

  &--logo {
    @media #{$tablet-widths} {
      width: 48.3%;
      padding-left: 6.3%;
      box-sizing: border-box;

      border-bottom: 1px solid #ececec;
    }
  }
}
