.table-block {
  display: table;
  width: 100%;
  margin-bottom: 28px;
}

.table-block__row {
  display: table-row;
}

.table-block__cell {
  display: table-cell;
  padding-top: 3px;
  padding-bottom: 6px;

  border-bottom: 1px solid #ececec;

  &:nth-of-type(2n) {
    padding-left: 24px;

    @media #{$tablet-widths} {
      padding-left: 10px;
    }
  }

  .table-block__link {
    &:hover {
      color: $mint-color;
    }

    &:active {
      color: $mint-color;

      opacity: 0.3;
    }
  }
}

.table-block__link {
  padding-bottom: 3px;

  color: $primary-text-color;
  text-decoration: none;

  border-bottom: 1px solid $mint-color;
}
